{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первый сайт на Django</title>
{% endblock %}

{% block content%}
    {% include 'main/nav.html'%}
    <h1><center>Мой первый проект на&nbsp;Django</center></h1>

    <p>Django — это мощный и гибкий веб-фреймворк на языке Python, который позволяет быстро создавать безопасные и масштабируемые веб-приложения.</p>

    <h2>Изучение новых понятий</h2>
    <p>В своем первом проекте на Django я столкнулся с множеством новых понятий, таких как модели, представления и шаблоны. Одной из ключевых особенностей Django является его административная панель, которая автоматически генерируется и упрощает управление данными.</p>

    <h2>Работа с базой данных</h2>
    <p>Используя ORM (Object-Relational Mapping), я смог относительно легко работать с базой данных, не прибегая к написанию сложных SQL-запросов. Django также предоставляет мощные инструменты для маршрутизации URL-адресов и обработки форм.</p>

    <h2>Поддержка сообщества</h2>
    <p>Благодаря обширной документации и активному сообществу, я нашёл ответы на большинство своих вопросов. Этот проект помог мне понять основы веб-разработки и заложил базу для будущих проектов.</p>

    <h2 style="font-style: italic; font-family: 'Comic Sans MS', cursive;">Впереди ещё много интересного, и я с нетерпением жду новых вызовов и возможностей, которые предоставляет Django.</h2>
{% endblock %}