{% extends 'main/layoute.html' %}

{% block title %}
    <title>Вторая страница </title>
{% endblock %}

{% block content%}
    {% include 'main/nav.html'%}
    <h4>Это вторая страница сайта по уроку номер 2</h4>

<h2>Введение</h2>
    <p>
        Впервые я столкнулся с Django, когда начал изучать веб-разработку.
        Эта фреймворк сразу привлек моё внимание своей структурой и простотой использования.
    </p>

    <h2>Установка и настройка</h2>
    <p>
        Процесс установки Django был довольно простым. Я следовал официальной документации и быстро настроил своё первое приложение.
        Это дало мне уверенность в том, что я двигаюсь в правильном направлении.
    </p>

    <h2>Создание первого проекта</h2>
    <p>
        Мой первый проект был простым блогом. Я начал с создания модели для постов, настроил админ-панель и создал несколько тестовых записей.
        Это было увлекательное занятие, и я быстро освоился с основными концепциями Django.
    </p>

    <h2>Работа с шаблонами</h2>
    <p>
        Одним из самых интересных аспектов было создание и использование шаблонов.
        Я научился применять наследование шаблонов, что значительно упростило разработку и поддержку кода.
    </p>

    <h2>Заключение</h2>
    <p>
        В целом, мой первый опыт с Django был очень положительным.
        Я получил много новых знаний и навыков, которые продолжаю использовать в своих проектах.<br>
        <B>Django стал незаменимым инструментом в моей работе</b> (наряду с Flatter и — в первую очередь — с Пайтоном).
    </p>

{% endblock %}